* {
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, 
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left-side {
    width: 35vw;
    background-image: url('bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    height: 150px;
}

.logo-name {
    font-size: 62px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

.right-side {
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}

.form-container {
    margin: 50px 0px;
}

.form {
    display: flex;
    gap: 70px;
}

.left-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-name, .email, .password, .last-name, .phone-number, .confirm-pw {
    display: flex;
    flex-direction: column;
}