* {
    /* border: 1px red solid; */
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, 
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left-side {
    width: 35vw;
    background-image: url('bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    height: 150px;
}

.logo-name {
    font-size: 62px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

.right-side {
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}

.form-message {
    font-size: 1.2rem;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}

.form-container {
    margin: 50px 0px 20px;
}

.form {
    display: flex;
    gap: 70px;
    justify-content: center;
}

.left-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.right-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.first-name, .email, .password, .last-name, .phone-number, .confirm-pw {
    display: flex;
    flex-direction: column;
}

legend {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 550;
}

input {
    border-radius: 5px;
    font-size: 18px;
    height: 60px;
    outline: none;
    padding: 24px 10px 12px;
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
}

label {
    font-size: 12px;
    position: absolute;
    top: 6px;
    left: 10px;
}

div[class^="form-input-"] {
    position: relative;
    width: 100%;
}

input:valid {
    border: 1px solid #8BC34A;
    background-color: rgba(139, 195, 74, 0.25);
}

input:invalid {
    border: 1px solid #b92326;
    background-color: rgba(185, 35, 38, 0.25);
}

input:placeholder-shown {
    background-color: transparent;
    border: 1px solid #d8d8d8;
}

input:focus:invalid {
    background-color: transparent;
    border: 1px solid #b92326;
}

input:focus:valid {
    background-color: transparent;
    border: 1px solid #8BC34A;
}

input:focus:placeholder-shown {
    background-color: transparent;
    border: 1px solid blue;
}

input:placeholder-shown + label {
    display: none;
}

#password:focus ~ .pw-req {
    color: black;
}

.pw-req {
    color: transparent;
    user-select: none;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    gap: 30px;
    padding-left: 25px;
}

.submit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#submit {
    border: none;
    color: white;
    font-weight: 600;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 4px 2px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(164,0,251,1) 0%, rgba(255,96,243,1) 100%);
    border-radius: 10px;
}

#submit:active {
    box-shadow: inset 0px 0px 10px grey;
}

a, a:visited {
    text-decoration: none;
    color: rgb(164,0,251);
    font-weight: bold;
}
